# PostgreSQL baza (Render vrednosti)
PG_PORT=5432
PG_HOST=dpg-d7d1qifaqgkc73fgpasg-a.oregon-postgres.render.com
PG_USER=knjigovodstvo_user
PG_PASSWORD=yNNGIa5yCp9BIgRWFfvp3kCVrOwPOw6a
PG_DATABASE=your_db_name

# JWT
JWT_SECRET=your_jwt_secret

# PORT (Render automatski postavlja, ali možeš eksplicitno)
PORT=10000

# OpenAI API ključ (obavezno ako koristiš AI)
OPENAI_API_KEY=your_openai_api_key

# Groq API ključ (opciono, koristi samo ako koristiš Groq AI)
GROQ_API_KEY=your_groq_api_key
